body{
    text-align: center;
}

#main_title{
    background-color:#CFEAFF;
}

@media only screen and  (min-width: 1000px){
    #main_title .text_main_title {
        padding-right: 10%;
    }
    

    #main_title .col-lg-6 img{
        margin-left: 10%;
    }
}

.col-lg-6{
    padding: 0%;
}

.ul
{
    max-width: 100%;
}

.navbar{
    max-width: 100%;
    padding: 0.5% 5%;
    margin-right: 0%;
}

#main_title .text_main_title {
    padding-top: 8%;
    margin-bottom: 0%;
}

#main_title .col-lg-6 img{
    width : 60%;
    height: 75%;
}

.skills{
    margin-top: 1%;
}
.skills .col-lg-6 div{
    height: 50vh;
    margin: 2%;
    margin-top: 5%;
}

#programmer_gif{
    height: 100%;
    max-width: 100%;
}

.skills .col-lg-6 div ul{
    padding-top: 8%;
    margin-left: 10%;
    text-align: left;
    display: inline-block;
    font-size: x-large;
}

#projects{
    height: 70vh;   
    background-color: #EFEFEF;
}

.carousel-item{
    height: 60vh;
}
.carousel-caption{
    margin-top: 15%;
}


footer{

    background-color:#39A2DB;
    height: 40vh;
    padding: 10% 5%;
    text-align: center;
    margin-top: 5%;
  
  }
  
  .footercon a img{
  
    height: 40px;
    width: 40px;
    margin: 5%;
  
  }
  
  .footercon{
  
    width: 50%;
    margin: auto;
    text-align: center;
  
  }

  /* 405f70 */