body{
    background-color:#CFEAFF;
}

#myself{
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif ;
}

#contacts{
    vertical-align: 100%;
}

.pad{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }

  .circular--square {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
  }

.my-nav { 
    margin-left: auto; 
} 

#box{
    padding-left: 15in;
}